---
import NavLeft from "../components/NavLeft/NavLeft.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Portafolio | Elena Cibaja - Diseñadora de Interiores" description="Diseño de interiores ...">
	<div class="mandendev-wrapper">
		<NavLeft />
		<main class="mandendev-main-container">
			<header class="flex flex-col md:flex-row">
				<div class="mandendev-main-article">
					<div class="relative h-auto max-w-sm overflow-visible break-words whitespace-pre-wrap md:max-w-3xl">
						<h1
							class="font-elenaCibaja-parrafos relative mx-0 block text-left text-[14vw] leading-28 font-light tracking-[-3px] text-nowrap md:text-[10vw]"
							transition:name="portafolio-trans"
						>
							Portafolio
						</h1>
					</div>
				</div>
				<div class="pb-[12%] md:ml-36 md:pt-[10%]">
					<div class="relative flex grow flex-col items-end justify-end md:h-64">
						<p>
							Aqui puedes ver una selección de mis proyectos más destacados en diseño de interiores. Cada uno refleja mi pasión por crear espacios
							únicos y funcionales que se adaptan a las necesidades y gustos de mis clientes.
						</p>
					</div>
				</div>
			</header>
			<!-- <div class="flex flex-col">
				<section class="grid w-full max-w-full grid-cols-2 gap-6 md:grid-cols-3 xl:grid-cols-4">
					{
						PORTAFOLIO.map((item) => (
							<article class="group flex flex-col gap-4 duration-300 ease-in-out">
								<figure class="relative flex aspect-[4/5] h-auto w-full overflow-hidden rounded-lg">
									<Image src={item.imagen} alt={item.titulo} class="transition-transform duration-500 ease-in-out group-hover:scale-125" />
								</figure>
								<header>
									<h3 class="mandendev-article-span">{item.titulo}</h3>
								</header>
								<main class="prose-neutral mandedev-article-p flex flex-col gap-2">
									<p class="text-sm">{item.descripcion}</p>
									<p class="text-xs">{item.ubicacion}</p>
									<p class="text-xs">{item.año}.</p>
								</main>
								<footer>
									<a class="mandendev-article-p-span" href={item.enlace} target="_blank">
										Ver Proyecto
									</a>
								</footer>
							</article>
						))
					}
				</section>
			</div> -->
		</main>
	</div>
</Layout>

<style>
	@reference "@styles/global.css";

	.mandendev-wrapper {
		@apply relative z-[500px];
	}

	.mandendev-main-container {
		@apply relative mr-auto ml-auto flex max-w-[100%] flex-col pr-[5%] pl-[10%];
		@apply max-lg:max-w-[80%] max-lg:pl-[5%];
		@apply px-[10%] max-md:max-w-full;
		@apply max-sm:pb-[10%];
	}
	.mandendev-main-article {
		@apply relative flex h-auto max-w-3xl flex-col items-start justify-center pt-[10%] pb-[12%];
		@apply max-lg:static max-lg:h-auto max-lg:w-full max-lg:pt-[30%];
		@apply max-md:pt-[20%];
	}

	.mandendev-article-img {
		@apply absolute top-0 right-0 bottom-0 left-auto block aspect-[4/5] w-[50%] max-w-full overflow-clip border-0 object-cover align-middle;
		@apply top-0 right-[10%] bottom-0 left-0 mt-[5%] mr-[10%] ml-0 max-lg:w-[40%];
		@apply top-0 right-0 bottom-0 left-auto mr-[-5%] max-md:w-[35%];
	}
	.mandendev-article-h1 {
		@apply font-elenaCibaja-parrafos relative mx-0 mt-[52px] mb-[35px] block overflow-hidden pt-[5%] text-left text-[14vw] leading-[1em] font-light tracking-[-3px] text-nowrap;
	}
	.mandendev-article-p {
		@apply relative mr-0 mb-0 ml-0 block max-w-[90%] text-left text-sm text-[1.2em] leading-[1.9em] font-normal tracking-[-0.5px];
		@apply max-lg:max-w-[100%];
	}
	.mandendev-article-span {
		@apply font-elenaCibaja-parrafos block text-2xl leading-[1.3em] font-light;
	}

	.mandendev-article-p-span {
		@apply decoration-accent-modern underline decoration-2 underline-offset-2;
	}

	.mandendev-article-h3 {
		@apply font-elenaCibaja-parrafos relative my-0 text-left text-xl leading-7 font-medium tracking-[4px] uppercase;
	}
	.mandendev-article-button {
		@apply bg-main text-background font-elenaCibaja-parrafos inline-block cursor-pointer rounded-[50px] border-0 px-[60px] py-5 text-xl font-normal tracking-[1px] transition-all duration-300;
		@apply hover:px-[100px];
	}
</style>
